<app-dialog [(open)]="open">
  <!-- #region Dialog Header -->
  <h2 class="reset-password-dialog__title" dialog-header>
    {{ 'members.dialogs.resetPassword.title' | translate }}
  </h2>
  <!-- #endregion Dialog Header -->

  <!-- #region Dialog Body -->
  <p class="reset-password-dialog__body" dialog-body>
    {{ 'members.dialogs.resetPassword.notSupported' | translate }}
  </p>
  <!-- #endregion Dialog Body -->

  <!-- #region Dialog Footer -->
  <div class="reset-password-dialog__footer" dialog-footer>
    <button
      class="reset-password-dialog__btn reset-password-dialog__btn--secondary"
      (click)="open.set(false)"
      type="button"
    >
      {{ 'common.close' | translate }}
    </button>
  </div>
  <!-- #endregion Dialog Footer -->
</app-dialog>
