@use './general/colors.scss';
@use './general/fonts.scss';
@use './general/icons.scss';
@use './general/reset.scss';
@use './general/common.scss';

:root {
  @extend %scrollbar;
}

body {
  background-color: var(--theme-bg); // covers areas under the two fixed bars
  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
}
